https://www.kaggle.com/code/mcarujo/synthetic-data-generation-sdv-tutotial

In [ ]:
!pip install sdv==0.13.1 -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.9/93.9 KB 2.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.9/45.9 KB 2.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 18.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.9/52.9 KB 3.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.0/47.0 KB 2.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.4/97.4 KB 5.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 KB 2.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.2/280.2 KB 6.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 662.4/662.4 KB 9.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.3/39.3 MB 6.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 15.2 MB/s eta 0:00:00

In [ ]:
import warnings

import pandas as pd

from sdv.evaluation import evaluate
from sdv.metrics.tabular import CSTest, KSTest, LogisticDetection, SVCDetection
from sdv.tabular import CTGAN, TVAE, CopulaGAN, GaussianCopula

warnings.filterwarnings("ignore")

In [ ]:
import numpy as np
real_data = pd.read_csv("/content/PS1C_train.csv")

print(real_data.shape)
real_data.head()

(1000, 31)

,Index,C1,C2,C3,C4,C5,C6,C7,C8,C9,...,C21,C22,C23,C24,C25,C26,C27,C28,C29,Target
0,1,-0.633509,-0.287744,0.222853,-2.998039,-0.690275,-0.674866,-0.404163,0.405966,-2.319937,...,0.031281,0.395767,-0.097444,-0.357012,-0.230728,-0.239019,0.272303,0.128075,29.89,0
1,2,-1.432863,-1.290936,1.081047,1.689179,1.857100,-0.633250,-0.808269,0.466850,-0.099381,...,0.233531,0.229839,0.367753,-0.345799,-0.614424,-0.322642,0.159902,0.221186,38.94,0
2,3,-1.275721,-0.939394,1.391180,-1.432628,-1.598677,0.829657,1.103927,-0.276995,0.600442,...,0.161042,0.918642,0.382627,-0.575711,0.240417,-0.217267,0.191545,-0.014056,399.40,0
3,4,2.117287,0.170442,-1.945039,0.273686,0.740743,-0.530378,0.199080,-0.220303,0.476406,...,-0.399412,-1.022962,0.261353,-0.051819,-0.165381,0.207375,-0.060959,-0.035671,1.79,0
4,5,2.196452,-1.362427,-0.280416,-1.437635,-1.381315,-0.249888,-1.454115,-0.136940,-0.081281,...,-0.496381,-0.743399,0.391387,-0.437921,-0.595208,-0.528237,0.009113,-0.047769,39.95,0

In [ ]:
real_data.drop(['Index'], axis=1, inplace=True)

In [ ]:
model_tvae=TVAE()

In [ ]:
real_sub_data = pd.read_csv("/content/PS1C_test.csv")

In [ ]:
real_sub_data.shape[0]

283807

In [ ]:
# evaluate(
#     new_data_tvae,
#     real_data,
#     metrics=['KSTestExtended']
# )

0.877683870967742

In [ ]:
data=real_data.copy()
X = data.iloc[:, :-1]
y=data.iloc[:, -1]

In [ ]:
no_ones=0
no_zeros=0
for i in list(y):
  if i==1:
    no_ones=no_ones+1
  else:
    no_zeros=no_zeros+1
print(no_ones,no_zeros)

20 980

In [ ]:
# print("Before OverSampling, counts of label '1': {}".format(sum(y_train == 1)))
# print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train == 0)))

# import SMOTE module from imblearn library
# pip install imblearn (if you don't have imblearn in your system)
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)
Xs, ys = sm.fit_resample(X, y.ravel())

print('After OverSampling, the shape of train_X: {}'.format(Xs.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(ys.shape))

print("After OverSampling, counts of label '1': {}".format(sum(ys == 1)))
print("After OverSampling, counts of label '0': {}".format(sum(ys == 0)))

After OverSampling, the shape of train_X: (1960, 29)
After OverSampling, the shape of train_y: (1960,)

After OverSampling, counts of label '1': 980
After OverSampling, counts of label '0': 980

(1960, 29)

In [ ]:
pd.DataFrame(ys)

      0
0     0
1     0
2     0
3     0
4     0
...  ..
1955  1
1956  1
1957  1
1958  1
1959  1

[1960 rows x 1 columns]

In [ ]:
ys=pd.DataFrame(ys)
ys

      0
0     0
1     0
2     0
3     0
4     0
...  ..
1955  1
1956  1
1957  1
1958  1
1959  1

[1960 rows x 1 columns]

In [ ]:
frames = [Xs, ys]
  
result = pd.concat(frames,axis=1, join='inner')
result.rename(columns = {0:'Target'}, inplace = True)

In [ ]:
pd.pandas.set_option('display.max_columns', None)

result.head(15)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27,C28,C29,Target
0,-0.633509,-0.287744,0.222853,-2.998039,-0.690275,-0.674866,-0.404163,0.405966,-2.319937,0.775369,-0.057652,-0.475064,0.133020,-0.000609,-1.716082,-0.075550,0.040171,0.641594,-0.456029,-0.322197,0.031281,0.395767,-0.097444,-0.357012,-0.230728,-0.239019,0.272303,0.128075,29.89,0
1,-1.432863,-1.290936,1.081047,1.689179,1.857100,-0.633250,-0.808269,0.466850,-0.099381,0.161682,0.374637,-0.135397,-2.059147,0.711325,-0.269425,-0.860688,0.363529,0.238250,1.132411,0.393946,0.233531,0.229839,0.367753,-0.345799,-0.614424,-0.322642,0.159902,0.221186,38.94,0
2,-1.275721,-0.939394,1.391180,-1.432628,-1.598677,0.829657,1.103927,-0.276995,0.600442,-0.757897,-0.567842,-3.280387,2.782223,0.288155,-1.039335,1.770401,0.256487,-0.384144,-0.058019,0.061446,0.161042,0.918642,0.382627,-0.575711,0.240417,-0.217267,0.191545,-0.014056,399.40,0
3,2.117287,0.170442,-1.945039,0.273686,0.740743,-0.530378,0.199080,-0.220303,0.476406,-0.388658,-1.035835,0.155100,0.555228,-0.957099,0.206478,0.472385,0.234398,-0.160332,0.275249,-0.111804,-0.399412,-1.022962,0.261353,-0.051819,-0.165381,0.207375,-0.060959,-0.035671,1.79,0
4,2.196452,-1.362427,-0.280416,-1.437635,-1.381315,-0.249888,-1.454115,-0.136940,-0.081281,1.275863,1.595319,-2.046196,3.169896,0.811998,-1.463137,-0.034526,0.687564,0.575944,0.049110,-0.337957,-0.496381,-0.743399,0.391387,-0.437921,-0.595208,-0.528237,0.009113,-0.047769,39.95,0
5,-0.020186,0.797010,0.310196,-0.562169,0.525839,-1.186043,0.965972,-0.219475,-0.090085,-0.411378,-0.859526,0.335934,0.364129,0.046704,-0.439180,-0.114969,-0.423619,-0.792412,-0.088529,0.005497,-0.248884,-0.546475,0.081654,0.048859,-0.474906,0.136629,0.246549,0.100072,1.79,0
6,-0.723777,-0.954045,-1.970833,5.152779,2.583889,0.706921,-0.221096,0.657671,-1.943547,1.900973,-0.179649,-0.120233,0.266919,1.036307,1.641794,-1.410647,1.363351,-2.065230,-0.572310,-0.596835,0.196223,1.248899,2.132791,-1.494822,-0.149918,0.653407,-0.110723,-0.637911,23.22,0
7,-0.911547,0.848781,2.058419,-0.369295,0.534314,0.293869,0.606555,0.202376,-0.557390,-0.821807,0.411393,0.855157,0.845324,-0.143613,-0.540904,0.838667,-1.393244,0.867390,-0.946760,-0.043561,0.278566,0.771490,-0.540937,-0.460555,0.830709,-0.516034,0.063451,0.055119,21.00,0
8,-1.561753,1.395212,0.994964,-1.467352,-0.481418,-1.013867,0.543393,0.189610,0.167506,0.306679,1.299850,0.459943,-0.720788,0.279959,-0.227087,0.596694,-0.731264,0.040804,-0.489863,0.161370,-0.035702,-0.024781,-0.045470,0.567320,-0.285585,0.691910,-0.098604,0.005743,19.13,0
9,2.110428,-0.960106,-2.635918,-1.335906,1.883811,3.407117,-0.893247,0.758916,-0.365260,0.750628,-0.346131,0.114637,0.077024,0.343389,0.462618,-1.985953,-0.142226,1.018695,-0.935126,-0.541236,-0.194147,-0.015039,0.126239,0.694913,0.165054,-0.124696,0.031449,-0.055421,24.27,0
10,1.127576,-0.158346,0.799974,0.973867,-0.316899,0.817222,-0.584883,0.254366,0.579901,-0.071614,0.010276,1.238370,1.005656,-0.393731,-0.526297,0.578823,-0.969926,0.715824,0.501175,0.037075,-0.057209,-0.023083,-0.201357,-0.815148,0.556546,-0.360136,0.066399,0.023873,43.00,0
11,2.065595,0.130047,-1.698495,0.430607,0.373937,-0.904454,0.174345,-0.225618,0.528620,-0.372662,-0.580617,0.026582,-0.186946,-0.792642,0.230298,0.318939,0.499501,-0.287377,0.041118,-0.165461,-0.363132,-0.960720,0.343617,0.561525,-0.272107,0.170076,-0.064944,-0.030024,5.36,0
12,2.032776,-0.046887,-1.638821,0.190064,0.487661,-0.760755,0.453853,-0.388572,0.184986,0.021855,-0.608078,1.061027,1.457712,0.096288,-0.163616,-0.377016,-0.285229,-1.041683,0.144631,-0.035070,-0.109556,-0.193149,0.175062,0.682928,0.004142,0.487003,-0.095546,-0.057309,37.40,0
13,-0.141207,0.572207,-0.636453,-0.582073,1.388790,-0.966803,1.053998,-0.364501,0.044615,-0.385576,1.034610,0.591518,0.484229,-1.072486,-0.222001,0.377295,-0.245550,1.061863,-0.323025,0.037597,0.236380,1.106261,-0.019967,-0.528779,-0.187803,-0.239748,0.068794,-0.105374,12.50,0
14,-10.363049,4.543672,-9.795898,5.508003,-6.037156,-0.133493,-11.724346,-3.198346,-4.767842,-9.332128,5.224124,-7.743122,-1.560343,-7.140418,1.185978,-6.598704,-12.120539,-3.904092,2.513430,0.924396,-2.457145,1.687257,0.977178,-0.543369,-0.289125,-0.107586,0.330642,0.163577,1.00,1

In [ ]:
model_tvae.fit(result)

In [ ]:
new_data_tvae = model_tvae.sample(real_sub_data.shape[0])

In [ ]:
data1=new_data_tvae.copy()
X1 = data1.iloc[:, :-1]
y1=data1.iloc[:, -1]

22715

In [ ]:
from sklearn.model_selection import train_test_split
X_train_lr, X_test_lr, y_train_lr, y_test_lr = train_test_split(X1, y1, test_size = .3, random_state = 10)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc_x = StandardScaler()
# xtrain = sc_x.fit_transform(X_train_lr) 
# xtest = sc_x.transform(X_test_lr)
  
# print (xtrain[0:10, :])

In [ ]:

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 10)
classifier.fit(X1, y1)

LogisticRegression(random_state=10)

In [ ]:
indices=real_sub_data.loc[:,'Index']
real_sub_data.drop(['Index'], axis=1, inplace=True)

In [ ]:
y_pred_lr = classifier.predict(real_sub_data)

In [ ]:
y_pred=pd.DataFrame(y_pred_lr)

In [ ]:
frames = [indices, y_pred]
  
pred_result = pd.concat(frames,axis=1, join='inner')

In [ ]:
y_pred.to_csv("1C_subm.csv")

In [ ]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test_lr, y_pred_lr))

Accuracy :  0.9736666666666667

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test_lr,y_pred_lr))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97      6734
           1       0.97      0.98      0.98      8266

    accuracy                           0.97     15000
   macro avg       0.97      0.97      0.97     15000
weighted avg       0.97      0.97      0.97     15000

In [ ]:

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestClassifier
 
clf = RandomForestClassifier(n_estimators = 100)  
  
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train_lr, y_train_lr)
  
# performing predictions on the test dataset
y_pred = clf.predict(X_test_lr)

In [ ]:
print(classification_report(y_test_lr,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97      6734
           1       0.98      0.98      0.98      8266

    accuracy                           0.98     15000
   macro avg       0.98      0.98      0.98     15000
weighted avg       0.98      0.98      0.98     15000

In [ ]:
print ("Accuracy : ", accuracy_score(y_test_lr, y_pred))

Accuracy :  0.9765333333333334